name: Docker Swarm Pipeline

on:
  workflow_call:
    inputs:
      branch:
        description: "Target branch (e.g., preprod, prod)"
        type: string
        required: true
      version:
        description: "Version for the build"
        type: string
        required: true
      dockerfile_path:
        description: "Path to Dockerfile"
        type: string
        required: true
    secrets:
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_TOKEN:
        required: true
      PAT:
        required: true

jobs:
  build:
    if: |
      (inputs.branch == 'preprod' && (github.event_name == 'push' || github.event_name == 'pull_request')) ||
      (inputs.branch == 'prod' && startsWith(github.ref, 'refs/tags/'))
    uses: ./.github/workflows/build-v1.yml
    with:
      build_name: ${{ github.event.repository.name }}
      branch: ${{ inputs.branch }}
      dockerfile_path: ${{ inputs.dockerfile_path }}
    secrets: inherit

  deploy:
    if: |
      (inputs.branch == 'preprod' && (github.event_name == 'push' || github.event_name == 'pull_request')) ||
      (inputs.branch == 'prod' && startsWith(github.ref, 'refs/tags/'))
    needs: build
    uses: ./.github/workflows/swarm-v1.yml
    with:
      branch: ${{ inputs.branch }}
      stack_name: demo
      image_tag: ${{ inputs.branch == 'prod' && github.ref_name || format('{0}-{1}', inputs.branch, github.run_number) }}
    secrets: inherit