name: Docker Swarm Deploy

on:
  workflow_call:
    inputs:
      branch:
        type: string
        required: true
      stack_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true

jobs:
  deploy:
    runs-on: [demo-runner]

    env:
      REGISTRY: ozanbozkurtt
      IMAGE_NAME: ${{ github.event.repository.name }}
      IMAGE_TAG: ${{ inputs.image_tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace variables
        run: |
          envsubst < ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.yml > ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.processed.yml

      - name: Deploy stack
        run: |
          docker stack deploy \
            -c ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.processed.yml \
            --with-registry-auth ${{ inputs.stack_name }}