name: Docker Swarm Deploy

on:
  workflow_call:
    inputs:
      branch:
        type: string
        required: true
      stack_name:
        type: string
        required: true
      image_tag:
        type: string
        required: true
    secrets:
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_TOKEN:
        required: true
      PAT:
        required: true

jobs:
  deploy:
    runs-on: ${{ inputs.branch == 'prod' && 'prod-swarm-runner' || 'preprod-swarm-runner' }}

    env:
      REGISTRY: ozanbozkurtt
      IMAGE_NAME: ${{ github.event.repository.name }}
      IMAGE_TAG: ${{ inputs.image_tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Replace variables
        run: |
          envsubst < ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.yml > ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.processed.yml

      - name: Deploy stack
        run: |
          docker stack deploy \
            -c ./dockerfiles/${{ inputs.branch }}/${{ env.IMAGE_NAME }}.processed.yml \
            --with-registry-auth ${{ inputs.stack_name }}